:root {
    --accent-one: hsl(219, 85%, 26%);
    --accent-two: hsl(1, 90%, 64%); 

    --background: hsl(210, 60%, 98%);
    --background-two:  hsl(0, 0%, 100%);
    --background-three: hsl(211, 68%, 94%);
    --border: hsl(205, 33%, 90%); 
    --text: hsl(219, 14%, 63%);
    --text-post:  hsl(219, 12%, 42%);
    --text-username: hsl(224, 21%, 14%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-three);
    padding: 3rem;
    color: var(--text);
    letter-spacing: 0.01em;
}

main {
    background-color: var(--background-two);
    padding: 1em 2em;
    border-radius: 20px;
    max-width: 38rem;
}

h1 {
    color: var(--text-username);
    font-size: 1.2em;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.heading-wrapper {
    display: flex;
    gap: 0.6em;
    align-items: center;
}

.heading-wrapper > div {
    background-color: var(--accent-one);
    padding: 0 0.6em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background-color: transparent;
    color: var(--text);
    font-size: 0.8em;
}

button:hover, button:focus {
    cursor: pointer;
    color: var(--accent-one);
}

#notifications-count {
    color: var(--background);
    font-size: 0.9em;
}

.notification {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
}

main > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

main > div > div {
    border-radius: 8px;
    padding: 1em;
}

.unread {
    background-color: var(--background);
}

.user-name {
    color: var(--text-username);
    font-weight: 800;
    text-decoration: none;
    margin-right: 0.15em;
}
.user-name:hover, .user-name:focus {
    color: var(--accent-one);
}

.post {
    font-weight: 800;
    color: var(--text-post);
    text-decoration: none;
}

.post:hover, .post:focus {
    color: var(--accent-one);
}

.group {
    font-weight: 800;
    color: var(--accent-one);
    text-decoration: none;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: var(--accent-two);
    display: inline-block;
    margin: 0 0.3em;
}

img {
    width: 40px;
    height: 40px;
}

img.commented:hover, img.commented:focus {
    cursor: pointer;
}

.message {
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 0.6em 0 0 4em;
    font-size: 0.8em;
    padding: 1em;
}
.message:hover, .message:focus {
    cursor: pointer;
    background-color: var(--border);
}

.notification-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 450px) {
    body {
        padding: 0;
        background-color: var(--background-two);
    }
    main {
        border-radius: 0;
        padding: 1em;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}